.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/bg-repeat.jpg);
    background-size: contain;
    font-family: "Roboto, sans-serif";
}

.conteudo h1{
    font-weight: 900;
    font-size: 30px;
    color: #ffff;
}

.conteudo p{
    font-weight: 400;
    font-size: 20px;
    color: #ffff;
    width: 400px;
    height: 100px;
    margin-top: 15px;
}

.conteudo{
    margin-right: 30px;
}

.formulario{
    display: flex;
    width: 500px;
    height: 600px;
    background-color: #ffff;
    flex-direction: column;
    padding: 20px 15px 0px 25px;
}

.input{
    padding-left: 10px;
    margin-top: 20px;
    width: 450px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #000;
}

.input, .mensagem::placeholder{
    font-size: 15px;
    font-weight: 700;
}

.mensagem{
    width: 450px;
    height: 170px;
    padding-bottom: 110px;
    padding-left: 10px;
}

.formulario .obrigatorio{
    margin: 25px 0px 25px;
}

.botao{
    width: 450px;
    height: 55px;
    background-color: #3ccc87;
    color: #ffff;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
}

.invalido{
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    color: red;
}

.erro{
    border: 2px solid red;
}

.valido{
    border: 2px solid #3ccc87;
}